.card{
    height: 370px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0,  50, 0, 0.2);
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.card-title {
    word-wrap: normal;
    width: 260px;
}
.card img{
    position: center;
    width: 290px;
    height: 250px;
}
